.git
__pycache__/
*.pyc
*.pyo
*.wav
*.mp3
.cache/
Clips/
Qwen3-TTS-12Hz-0.6B-Base/
Qwen3-TTS-12Hz-0.6B-CustomVoice/
Qwen3-TTS-12Hz-1.7B-Base/
Qwen3-TTS-12Hz-1.7B-CustomVoice/
Qwen3-TTS-12Hz-1.7B-VoiceDesign/
Qwen3-TTS-Tokenizer-12Hz/
